<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>샘플 등록</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<th:block th:replace="fragments/header :: link"></th:block>
	<th:block th:replace="fragments/header :: script"></th:block>
</head>

<body>
	<divs="container">
		<th:block th:replace="fragments/header :: header"></th:block>
		<hr>
		<div>
			배너
		</div>
		<div class="first-content">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item"><a href="/qna/list">질문 및 답변</a></li>
					<li class="breadcrumb-item active" aria-current="page">글작성</li>
				</ol>
			</nav>
		</div>
		<div class="container">
			<h2 class="mt-4">질문등록</h2>
			<hr>
			<form th:action="@{/qna/new}" th:object="${qna}" method="post">
				<input type="hidden" name="level" value="1"/>
				<div class="mb-3">
					<label class="form-label">제목</label>
					<input type="text" class="form-control" th:field="*{title}" required>
				</div>
				<div class="mb-3">
					<label class="form-label">내용</label>
					<textarea class="form-control" th:field="*{content}" required></textarea>
				</div>
				<div class="mb-3">
					<label class="form-label">작성자</label>
					<input type="text" class="form-control" th:field="*{author}" required>
				</div>
				<button class="btn btn-priamry">등록</button>
			</form>
		</div>
		<th:block th:replace="fragments/footer :: footer"></th:block>
</body>

</html>